/*
 * Copyright (c) 2013-2023, Seqera Labs.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */

plugins {
    id 'nf-schema@2.7.1'
}

manifest {
    description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow'
    author = 'Paolo Di Tommaso'
    nextflowVersion = '!>=26.03.2-edge'
}

outputDir = params.outdir ?: 'results'

nextflow.enable.moduleBinaries = true

lineage {
    enabled = true
}

workflow.output.mode = 'copy'

docker.enabled = true

wave {
    enabled = true
    strategy = ['conda']
}

validation.summary.beforeText = 'Validated pipeline parameters:'

/*
 * keep profiles for data and test-style overrides, not container selection
 */

profiles {
    'all-reads' {
        params.input = "${projectDir}/data/samplesheet_all.csv"
    }
}
