manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
}

process {
  $index.container = 'quay.io/biocontainers/salmon:0.8.2--1'
  $quant.container = 'quay.io/biocontainers/salmon:0.8.2--1'
  $multiqc.container = 'quay.io/biocontainers/multiqc:1.1--py27_0'
  $fastqc.container = "genomicpariscentre/fastqc"
}

