manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
     process.$index.container = 'quay.io/biocontainers/salmon:0.8.2--1'
     process.$quant.container = 'quay.io/biocontainers/salmon:0.8.2--1'
     process.$multiqc.container = 'quay.io/biocontainers/multiqc:1.2--py27_0'
     process.$fastqc.container = "genomicpariscentre/fastqc"
  }
}